.bck-home{
    position: fixed;
    bottom: 100px;
    right: 30px;
    color: rgb(189, 3, 102);
    font-size:40px;
    font-weight: bolder;
    z-index: 100;
}

.bck-home:hover{
    color: rgb(17, 235, 17);
}