.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 100vh;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 0 4px;
}

.link:hover {
    text-decoration: underline;
    color: darkred;
}

.profile-name{
    font-size: 25px;
    color: white;
    margin: 20px 0;
}

.profile-image{
    width: 100px;
}

.protofolio{
    font-size: 25px;
    color: whitesmoke;
    text-decoration: underline;
    margin: 20px 0 15px;
}
