<div class="wrapper">
    <img class="profile-image" src="../../assets/images/avatar-girl.png" alt="">
    <span class="profile-name">Albjona Myftarago</span>
    <span class="protofolio">Protofolio</span>
    <a class="link" href="social-icons">Social Icons</a>
    <a class="link" href="glowing-circle">Glowing Circle</a>
    <a class="link" href="neon-button">Neon Button</a>
    <a class="link" href="neon-text">Neon Text</a>
    <a class="link" href="wavy-text">Wavy Text</a>
    <a class="link" href="circle">Circle</a>
    <a class="link" href="elastic-line">Elastic Line</a>
    <a class="link" href="bubbles"> Bubbles</a>
    <a class="link" href="text-distortion"> Text Distortion</a>
    <a class="link" href="ghost-text"> Gohst Text</a>
    <a class="link" href="emoji"> Corona Emoji</a>
    <a class="link" href="works">Works</a>
</div>